extends ../../layouts/main_layout

block modules 
  script(async src="/javascripts/modules/matchesHistory/matches.js" type="module") 

block content
    if requests.length == 0
      div(class="flex-center flex-dir-col h-100")
        img(class="notify" src="/images/empty.svg", alt="")
        h2(class="notify-text" class="text-center") No Pending Requests For You
    else
    div(class="grid")
      for request in requests
          div(class="common-card request-card" data-request-id=request.id data-sender-id=request.senderId)
            a(href="/gamers/"+request.senderName)
              div(class='card-top')
                img(src="/images/avatars/"+ request.senderId +".jpg", alt="")
                p= request.senderName
            div(class='card-actions flex-center')
              div(class="action-item action-item-btn flex-center approve" id="approve-request")
                p= "Accept"
              div(class="action-item action-item-btn flex-center cancel" id="cancel-request")
                p= "Cancel"
